body{
	margin:0; padding:0;}

	article{
		h1{
			color:red;
		}
		background:red;
	}

	h2{
		color:orange;
		backgrund:gray;
	}


	h6{
		color:red;
		padding:5px;

	}
	article{
		h2{
			color:red;
			padding:10px 3px;
			margin:10px auto;
		}
	}

	footer{
		background:#FCE37D;
	}


